@import '../../variables';
.fp-c-feed {
    position: relative;
    margin: 60px auto;
    width: $fp-c-feed-width;
    transition: 0.3s;
    // border-radius: 5%;
}

.fp-c-feed__back-arrow {
    float:right;
    left: -40px;
    top: 10px;
}