.fp-c-interested-container {
    position: fixed;
    bottom: 0px;
    right: 60px;
    padding: 10px;
}
.fp-c-interested-container__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}