.fp-c-status-container {
    position: absolute;
    top: 7px;
    left: 0px;
}
.fp-c-status-container__options {

}
.fp-c-status-container__img--selected {
    width: 50px;
}
.fp-c-status-container__img {
    width: 40px;
    display: block;
}