.fp-related-travellers {
    position: absolute;
    top: 0px;
    left: -480px;
    display: flex;

    background-color: white;
    padding: 25px;
    border-radius: 5%;
}

.fp-related-travellers-hide {
    opacity:0;
    visibility: hidden;
}