@import '../../../variables';
.fp-c-tile-layout {
    position:relative;
    width: $fp-c-feed-image-width;
    img {
        vertical-align: middle;
        width: 100%;
    }
}

.fp-l-tile-layout__row {
    display: flex;
    flex-wrap: wrap;
    .fp-l-tile-layout__column img {
        object-fit: cover; /* Do not scale the image */
        object-position: center; 
    }
    .fp-l-tile-layout__column:nth-child(1) img {
        width: 256px;
        height: 256px;
        margin: 1px 1px 2px 0px
    }
    .fp-l-tile-layout__column:nth-child(2) img {
        &:nth-child(1) {
            width: 256px;
            height: 171px;
            margin: 1px 0px 1px 1px
        }
        &:nth-child(2){
            width: 256px;
            height: 172px;
            margin: 0px 0px 0px 1px
        }
        &:nth-child(3){
            width: 256px;
            height: 172px;
            margin: 1px 0px 0px 1px
        } 

    }
};

.fp-l-tile-layout__column {
  flex: 50%;
  max-width: 100%;
}


.fp-c-slider {
    &__right {
        position: absolute;
        right: 0px;
        top:200px;
        background: white;
    }
    &__left {
        position: absolute;
        left: 0px;
        top:200px;
        background: white;
    }
}
