.fp-c-header__status {
    position: fixed;
    top: 7px;
    right: 416px;
    z-index: 99;
}
.fp-c-header__live {
    position: absolute;
    top: 9px;
    left: 129px;
    img {
        width:50px;
    }
}
