.fp-c-comment__header {
    margin: 0px 12px 0px 12px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    div {
        display:inline;
    }
}
.fp-c-comment__like {
    border-radius: 50%;
    padding: 4px;
    background-color: #3b5998;
}

.fp-c-comment__laugh {
    border-radius: 50%;
    padding: 4px;
    margin-left: -2px;
    background-color: white;
}

.fp-c-comment__heart {
    border-radius: 50%;
    padding: 4px;
    margin-left: -2px;
    background-color: red;
}

.fp-c-comment__footer {
    padding: 12px;
    font-size: 1.0rem;
    display:flex;
    justify-content: space-evenly;
     div {
         display:inline;
     }
}

.fp-c-comment__action {
    margin-right: 2px;
    color:grey;
}
