$fp-c-feed-image-width: 614px;
// due to increase in 10px margin for layout
$fp-c-feed-width: 614px;
$fp-c-header-height: 59px;
$fp-primary-blue: #2196F3;
$fp-primary-color: #3b5998;
$fp-c-search-journey-width: 525px;