@import './variables';

// TODO: developing guideline documentation for maintaining the scss project.
// TODO: need to add base css (most preferred Normalize)
// TODO: need to add post processor (most preferred PostCSS) 


// the css guidelines are according to BEM methodology

.fp-l-display {
    &--inline {
        display: inline;
    }
    &--flex {
        display: flex;
    }
    &--none {
        display: none;
    }
    &--grid {
        display: grid;
    }
}
.fp-l-position {
    &--absolute {
        position: absolute;
    }
    &--relative {
        position: relative;
    }
}
.fp-l-float {
    &--right {
        float:right;
    }
    &--left {
        float:left;
    }
}

.fp-l-margin {
    &--left-13 {
        margin-left: 0.8125rem;
    }
    &--left-5 {
        margin-left: 0.312rem
    }
}

.fp-is-hidden {
    visibility: hidden;
    opacity:0;
}
.fp-is-transparent {
    opacity:0;
}

.fp-c-circle {
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: $fp-primary-blue;
    border-radius: 50%;
    display: inline-block !important;
    border-color: $fp-primary-blue;
    border-width: 1px;
    border-style: solid;

    &:hover {
        background-color: white;
    }
}

.fp-c-card {
    background-color: white;
    font-family: Roboto;
    box-shadow: 4px 8px 16px 8px rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 8px 16px 24px 16px rgba(0, 0, 0, 0.2);
    }
}

